.recipes-articles-container {

    display: flex;
    flex-direction: column;
    margin: 10px 30px;


    .big-icon {
        height: 60px;
        width: 60px;
    }

    h1 {
        font-size: 3em;
        font-weight: 900;
        font-family: 'Quicksand', sans-serif;
        color: #333;
    }

    .recipes-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
      
      
      .pagination-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
      }

}